@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  background-image: url('https://static.vecteezy.com/system/resources/previews/025/871/650/non_2x/background-with-sport-equipment-vector.jpg'); /* Replace the URL with your web URL link *//* Replace 'path_to_your_background_image.jpg' with the path to your background image */
  background-size: cover;
  background-attachment: fixed; /* Ensure the background image covers the entire container */
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the form container */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px; /* Set the maximum width of the form container */
  width: 100%; /* Ensure the form container takes the full width available */
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container,
.form-container {
  font-family: 'Roboto', sans-serif;
}
